

table.dash_calendar_table tr td {
	width: 120px;
	height: 99px;
	border-left: 1px solid #eee;
 }

.fc-day-number {
	position: absolute;
	top: 2%;
	left: 7%;
	font-size: 14px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.5);
 }

.fc-day {position: relative;}

.pagecontent section.managestaff table tr td:nth-child(1) {border: 1px solid #eee;}

td.cal-pending {
	background: url(../img/cal-pending-unhover.png) no-repeat;
	background-color: rgba(190, 190, 190, 0.2);
	background-size: 120px 99px;
 }

	td.cal-pending:hover {
		background: url(../img/cal-pending-hover.png) no-repeat;
		cursor: pointer;
	 }

td.cal-urgent {
	background: url(../img/urgent.png) no-repeat;
	background-color: rgba(190, 190, 190, 0.2);
	background-size: 120px 99px;
 }

	td.cal-urgent:hover {
		background: url(../img/urgen-hover.png) no-repeat;
		cursor: pointer;
		background-size: 120px 99px;
	 }

td.cal-available {
	background: url(../img/cal-available-unhover.png) no-repeat;
	background-color: rgba(190, 190, 190, 0.2);
	background-size: 120px 99px;
 }

td.cal-na {
	background: url(../img/na.png) no-repeat;
	background-color: rgba(190, 190, 190, 0.2);
	background-size: 120px 99px;
 }

#year {
	margin: 0;
	padding: 0;
	width: 85px;
	height: 31px;
	background-image: url("../img/inputbranch.png");
	background-position: 100% 0;
	background-origin: margin-box;
	background-size: 32px 100%;
	background-repeat: no-repeat;
	color: rgba(0, 0, 0, 0.7);
	text-align: left;
	cursor: pointer;
	outline: none;
	margin-left: 63px;
 }

#month {
	margin: 0;
	padding: 0;
	width: 128px;
	height: 31px;
	background-image: url("../img/inputbranch.png");
	background-position: 100% 0;
	background-origin: margin-box;
	background-size: 32px 100%;
	background-repeat: no-repeat;
	color: rgba(0, 0, 0, 0.7);
	text-align: left;
	cursor: pointer;
	outline: none;
	margin-left: 40px;
 }

.numChoice {
	margin: 0;
	padding: 0;
	width: 73px;
	height: 31px;
	background-image: url("../img/inputbranch.png");
	background-position: 100% 0;
	background-origin: margin-box;
	background-size: 32px 100%;
	background-repeat: no-repeat;
	color: rgba(0, 0, 0, 0.7);
	text-align: left;
	cursor: pointer;
	outline: none;
 }

.fromToInput {
	margin: 0;
	padding: 0;
	width: 131px;
	height: 31px;
	background-image: url("../img/inputbranch.png");
	background-position: 100% 0;
	background-origin: margin-box;
	background-size: 32px 100%;
	background-repeat: no-repeat;
	color: rgba(0, 0, 0, 0.7);
	text-align: left;
	cursor: pointer;
	outline: none;
 }

.cur_addButton {
	width: 129px;
	height: 39px;
	background-color: #702412;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	margin-top: 38px;
	left: 30%;
	position: absolute;
 }

h4.footerHeading {
	font-size: 24px;
	font-weight: 300;
	color: #f4a22c;
	padding-left: 24px;
	margin-top: 47px;
 }

.pagecontent section.managestaff table tr:nth-child(1) {color: rgba(0, 0, 0, 0.7);}

.addBtnPlace {
	position: relative;
	height: 108px;
 }

.formWrapper {
	height: 214px;
	position: relative;
 }

	.formWrapper table {
		margin-top: 30px;
		width: 100%;
		border-color: transparent;
		margin-left: 28px;
	 }

.WhiteSpaceBetween {height: 15px;}

.pagecontent section.managestaff table tr td {border-bottom: 1px solid #eee;}

.numOfEmpCell {
	text-align: center;
	vertical-align: middle;
 }

.pagecontent section.managestaff table tr td:nth-child(1) {border: none;}

.leftArrowMonth {
	background: url(../img/leftArrowMonth.png) no-repeat;
	height: 31px;
	width: 31px;
 }

	.leftArrowMonth:hover {background: url(../img/leftArrowMonth-unhover.png) no-repeat;}

.rightArrowMonth {
	background: url(../img/dateright.png) no-repeat;
	height: 31px;
	width: 31px;
 }

.rightArrowMonth:hover {
    background: url(../img/rightArrowHover.png) no-repeat;
}

.btn-arrow {
	margin: 0;
	padding: 0;
	position: absolute;
 }

.topMenuPicker {position: relative;}

.pickdate {position: relative;}

.pagecontent section.managestaff h3.myDetailsSchedule {
	font-size: 30px;
	color: #f4a22c;
	padding: 20px 0 20px 70px;
	background: url("../img/mydetails-active.png") no-repeat;
	background-position: 2.82353% 50%;
	background-size: 30px 30px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-weight: 300;
 }

.fc-day-content {
	background-color: rgba(205, 205, 205, 0.8);
	margin-left: 22px;
	position: relative;
 }

.event {
	font-size: 11px;
	font-weight: 700;
	color: #ffffff;
	padding-left: 10px;
 }

#example-fullcalendar > div > div > table > tbody > tr.fc-week.fc-first {border-top: 1px solid #eee;}

#example-fullcalendar > div > div > table > tbody > tr:nth-child(5) {border-bottom: 1px solid #eee;}

#example-fullcalendar {margin-bottom: 164px;}

#rightArrowCal {margin-left: 4px;}

